header {
	background: #bbbbbb;
}

.caixa{
	position: relative;
	width:  940px;
	margin: auto;
}

nav{
	position: absolute;
	top: 110;
	right: 0;

}

nav li {

	display: inline;
}

nav a{

	 text-transform: uppercase;
	 color: #000000;
	 font-weight: bold;
	 font-size: 22px;
	 text-decoration: none;
	 margin: 0 0 0 15px;


}



